함수
- 코드의 재사용
- 중복된 코드
- range()
- sum()
- len()

In [1]:
# 내장함수의 예
a = [1,2,3,4]

# b = a의 길이
b = len(a)

# s = a의 합
s = sum(a)


print(b)
print(s)

4
10

함수의 정의
- 정의할 때 def 키워드 사용
- argument 정의(함수에 입력으로 전달하는 값을 의미, argument 또는 parameta라고 함)
- body 함수의 구현 부분, 함수 역시 코드 블럭이므로, 들여쓰기, 코드 블럭이라고 함
- 함수를 호출한 코드로 함수가 해당 기능 수행하고 완료괸 값을 전달하기 위해 키워드 사용
- 리턴 이후에 오는 값을 caller 전달
- 함수의 네이밍 중요
- get_a(x)

- get_person_name(0)

In [2]:
def add(x, y):
  n = x + y
  return n

In [3]:
res = add(100, 5)
print(res)

105

In [5]:
length = len(a)

#c에 함수 add를 적용하여 출력하기
c = add(100, 200)

In [6]:
print(length)
print(c)

4
300

In [ ]:
add() # 에러추측하기

TypeError: ignored

### [문제1] 빼기 함수 sub 만들기

---

In [10]:
def sub(a, b):
    n = a + b
    return n

In [12]:
# 어떤 값을 연산해서 결과가 -100 나오도록
sub(100, 200)

300

In [13]:
def mul(a, b):
    n = a * b
    return n

In [17]:
def div(a, b):
    n = a / b
    return n

In [16]:
def na(a, b):
    n = a % b
    return n

In [18]:
print(add(5, 8))
print(sub(5, 8))
print(mul(5, 8))
print(div(5, 8))
print(na(5, 8))

13
5
40
0.625
5

[연습문제]하나의 함수에 사칙연산이 한번에 되는 함수 num_cal

In [27]:
def num_cal(a, b):
    print(a, b)
    print('%d + %d = %d'%(a,b,a+b))
    print('%d - %d = %d'%(a,b,a-b))
    print('%d * %d = %d'%(a,b,a*b))
    print('%d / %d = %.2f'%(a,b,a/b))
    return

In [28]:
num_cal(5, 8)

5 8
5 + 8 = 13
5 - 8 = -3
5 * 8 = 40
5 / 8 = 0.62

In [29]:
def test():
  print('ahahahaha')
  print('Good')



a = test()
print(a)

ahahahaha
Good
None

In [ ]:
def test(x, y): 
  print(x, y)
  n = x + y

  return n


a = test(100, 200) # 타입을 이해하는 것도 중요함
print(a)

100 200
300

### [문제2] 세개의 매개변수를 받아 출력하고 합계구하기


---

In [30]:
def test(x, y, z): 
  print(x, y, z)
  n = x + y + z

  return n


a = test(100, 200, 300)
print(a)

100 200 300
600

In [ ]:
print(1,2,3)

1 2 3

In [ ]:

print(1,2,3,sep='-', end='%\n')
print(4,5,3,sep='-', end='%')

1-2-3%
4-5-3%

In [31]:
def test(a, b=1, c=1): # 기본 파라메터는 끝에서 부터
  z = a + b + c
  print(a, b, c)
  return z

# 함수 부르기
  
test(100, b=5, c=7)

100 5 7

112

In [32]:
test(b=10, c=100, a=1000)  # 키워드는 순서 바꿔도 상관없이

1000 10 100

1110

return
- 기본적으로 함수의 종료를 명시
- return 옆에 값이나 수식이 있다면 해당 값을 호출자에게 반환
- return 만 존재하면 None 반환
- return 이 없는 경우, 기본적으로 함수 코드 블럭이 종료되면, 종료로 간주, 이때도 None 반환

In [ ]:
def multi(x, y) :
  if x > 10 :
    return x * y
  print(x, y)

  return (x + 2) * y
  print(x, y) # 의미 없는 코드

multi(1, 5)

In [ ]:
multi(12, 5)  # 결과값은?

In [ ]:
def multi(x, y) :
  if x > 10 :
    print(x, y)
    return 

  return (x + 2) * y
  print(x, y) # 의미 없는 코드

print(multi(12, 5))

In [ ]:
def multi(x, y) :
  if x > 10 :
    print(x, y)
    return x * y


print(multi(2, 5)) # 결과값 예측하기

In [ ]:
def add_mul(x, y):
  s = x + y
  m = x * y

  return s, m

c = add_mul(20, 3)
print(c)
print(type(c))

변수의 범위

In [ ]:
print(num1, num2)

In [ ]:
num1 = 10
num2 = 20

def test(num1, num2):
  print(num1, num2)
  return num1 + num2

test(30, 40)  
print(num1, num2)

가변길이 인자
- 함수에서 전달되는 인수가 정해져 있지 않음
-

In [ ]:
# 한줄 비워서 나오게(빈줄 출력)

# 1,23 출력

# 1,2,3,hello

1 23
1 2 3 hello

In [36]:
def test(*args):
    print(type(args))
    for item in args:
        print(item)

test(10, 20, 30)

<class 'tuple'>
10
20
30

In [41]:
def test2(**kwarg):# key word argment
    print(type(kwarg))
    for key, value in kwarg.items():
        print('key = ',key, 'value = ',value)

test2(a=1, b=10)

<class 'dict'>
key =  a value =  1
key =  b value =  10

In [42]:
test2(a='학번',b=30103)

<class 'dict'>
key =  a value =  학번
key =  b value =  30103

In [43]:
a = '오늘 온도 : {}도, 강수확률: {}%, 내일온도: {}도'.format(30, 100, 28)
print(a)

오늘 온도 : 30도, 강수확률: 100%, 내일온도: 28도

format 함수
가변 파라메터

In [44]:
a = '오늘 온도 : {temp}도, 강수확률: {prob}%, 내일온도: {t_temp}도'.format(temp=25, prob=100, t_temp=30)
print(a)

오늘 온도 : 25도, 강수확률: 100%, 내일온도: 30도

lambda
- 분법적인 도우미
- 한줄로 코딩
- 단일문으로 표현
- 익명함수
- 1회성

In [45]:
s = lambda x : x**2

In [ ]:
type(s)

In [ ]:
s(5)

In [ ]:
def s2(x):
  return x**2

In [ ]:
s2(5)

In [50]:
# 두개의 수를 더하는 add2함수 만들기

In [49]:
add(10,30)

40

### lambda 함수로 바꿔서 써보기

In [51]:
add2 = lambda x,y : x+y

In [10]:
add2(10, 30)

40

In [ ]:
add(10, 30)

40

In [66]:
s = ['bob', 'charles', 'alex', 'teddy','allis']
s.sort(reverse=True)

In [67]:
print(s)

['teddy', 'charles', 'bob', 'allis', 'alex']

### 문자열의 길이를 리턴하는 함수 만들기

In [70]:
def str_len(s):
    return len(s)
str_len('abcde')

5

In [71]:
s.sort(key = str_len)

In [72]:
print(s)

['bob', 'alex', 'teddy', 'allis', 'charles']

In [19]:
s.sort(key = lambda s : len(s)) 
s

['bob', 'alex', 'teddy', 'charles']

In [ ]:
print(s)

['bob', 'alex', 'teddy', 'charles']

In [74]:
# 짝수 구분 함수 만들기
def even(num):
    return num % 2 == 0

In [75]:
even(70)

True

In [ ]:
# filter(함수, 리스트)
# 짝수만 가려주는 
nums =[1,2,3,4,5,6,7,8,9]
list(filter(even, nums))

[2, 4, 6, 8]

In [76]:
nums =[1,2,3,4,5,6,7,8,9]
list(filter(lambda x : x%2==0,nums))

[2, 4, 6, 8]

In [77]:
# map : 필터는 하지 않지만, 리스트로 만든다
# 리스트의 제곱을 한 숫자로 새로운 리스트

nums =[1,2,3,4,5,6,7,8,9]
nums_m=list(map(lambda n:n%2==0, nums))
print(nums_m)

[False, True, False, True, False, True, False, True, False]

In [24]:
nums =[1,2,3,4,5,6,7,8,9]
list(map(lambda n:n%2==0, nums))

[False, True, False, True, False, True, False, True, False]

In [78]:
import functools

a = [1,3,5,8]

# 두개의 숫자를 더하고, 4, 9, 17
# 리스트의 모든 숫자의 합
functools.reduce(lambda x, y: x+y, a)

17

In [79]:
# 리스트의 모든 숫자의 곱
a = [1,3,5,8]

# 두개의 숫자를 더하고, 4, 9, 17
# 리스트의 모든 숫자의 합
functools.reduce(lambda x, y: x*y, a)

120

함수 연습문제
1. 주어진 숫자 리스트의 평균을 구하는 함수를 출력하시오.
2. 해당 숫자가 소수인지 아닌지 판별하시오.
3. 2부터 해당 숫자사이에 소수가 몇개인지 출력하는 함수를 구하시오.

In [82]:
# 입력:숫자 리스트
# 출력: 평균
def mean(num):
    sum=0
    for i in num :
        sum += i
    return sum/len(num)

In [85]:
print(mean([11,2,3,4,5]))

5.0

In [ ]:
# 리스트의 평균 구하기

def mean2

In [ ]:
print(mean2([1,2,3,4,5]))

3.0

### [문제3] 소수인지 아닌지만 판별


---

In [87]:
# 소수판별(1과 자기자신으로만 나눠지는 수)
# 입력 : 양의 정수 1개//15이면 2,3,4,5,...14
# 출력 : boolean

def is_prime(num):
    for i in range(2, num):
        print(i)
        if num % i == 0
        return False
    return True

SyntaxError: invalid syntax (<ipython-input-87-d120f6593a66>, line 8)

In [ ]:
is_prime(100)

False

In [ ]:
is_prime(17)

Prime

True

In [ ]:
is_prime(5)

Prime

True

### [문제4] 소수의 개수


---

In [ ]:
# 소수판별(1과 자기자신으로만 나눠지는 수)
# 입력 : 양의 정수 1개//15이면 2,3,4,5,...14
# 출력 : boolean, 2와 해당숫자 사이의 소수는 4개...

def num_prime(num):
  cnt=0

In [ ]:
print(num_prime(100))
print(num_prime(7))
print(num_prime(5)) # 프린트로 확인

25
4
3