### for_list_format

In [2]:
num=[1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [4]:
type(num)

list

In [10]:
for i in num :
    print(i,"번",end="/")

1 번/2 번/3 번/4 번/5 번/

In [16]:
for i in num :
    print("%d번"%i ,end=" ")

1번 2번 3번 4번 5번

In [18]:
i=0
if i==0 :
    print("i는 0이다")
else :
    print("i는 0이 아니다")

i는 0이다

In [22]:
i=10
if i%2==0 :
    print(i,"는(은) 짝수이다")
else :
    print(i,"는(은)  홀수이다")

10 는(은) 짝수이다

In [24]:
i= int(input("숫자입력>>> "))
if i%2==0 :
    print(i,"는(은) 짝수이다")
else :
    print(i,"는(은)  홀수이다")

숫자입력>>> 2
2 는(은) 짝수이다

In [27]:
sub = ["국", "수", "영", "정보"]
for i in range(len(sub)) :
    print(sub[i], end=" ")

국 수 영 정보

In [29]:
sub = ["국", "수", "영", "정보"]
for i, s in enumerate(sub) :
    print(sub[i], end=" ")

국 수 영 정보

In [33]:
sub = ["국", "수", "영", "정보"]
for i, s in enumerate(sub) :
    if sub[i]=="정보" :
        print(i+1,"교시",sub[i], '해당')
    else :
        print(i+1,"교시",sub[i], '해당없음')

1 교시 국 해당없음
2 교시 수 해당없음
3 교시 영 해당없음
4 교시 정보 해당

In [36]:
for i in range(1,11) :
    if i%2==0 :
        print('파이썬')
    else :
        print('야~ 나도 파이썬 할 수 있어')

야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬

### List

In [43]:
juso ='     인천광역시 중구 참외전로 116 창의관   '

In [39]:
juso

'     인천광역시 중구 참외전로 116 창의관'

In [41]:
type(juso)

str

In [44]:
len(juso)

29

In [49]:
add=juso.strip()

In [50]:
juso

'     인천광역시 중구 참외전로 116 창의관   '

In [52]:
add

'인천광역시 중구 참외전로 116 창의관'

In [54]:
len(add)

21

In [58]:
ad=add.split()

In [59]:
add

'인천광역시 중구 참외전로 116 창의관'

In [61]:
ad

['인천광역시', '중구', '참외전로', '116', '창의관']

In [64]:
add.startswith('인천')

True

In [66]:
add.startswith('서울')

False

In [67]:
add.endswith('관')

True

In [69]:
add.endswith('동')

False

### format

In [71]:
s='A is {}, {}'
pr=s.format('사과', '배')
print(pr)

A is 사과, 배

In [76]:
info_1 = '학교: {}, 학번: {}, 이름: {}'
p=info_1.format('인정산', 30103, '김왕기')
print(p)

학교: 인정산, 학번: 30103, 이름: 김왕기

### [문제1] 30부터 50까지 중에서 홀수만 출력

In [79]:
for i in range(30, 50) :
    if i%2==0 :
        print(i,end=" ")

30 32 34 36 38 40 42 44 46 48

### [문제2] 아이디(문자)를 입력받아 
- 동일하면 회원님 안녕하세요
- 아니면 회원가입하세요 출력

In [80]:
id = input("아이디를 입력하세요>>> ")
if id=="nskn" :
    print('회원님 안녕하세요')
else :
    print('회원가입하세요')

아이디를 입력하세요>>> nskn
회원님 안녕하세요

### [문제3] 입력 예) 인천정보산업고/30105/김장민 입력받아
- 학교 : 인천정보산업고
- 학번 : 3015
- 이름 : 김장민

In [87]:
stu = list(map(str,input('학생정보입력>>> ').split("/")))
print('학교: ',stu[0])
print('학번: ',stu[1])
print('이름: ',stu[2])

학생정보입력>>> 인정산/30103/김왕기
학교:  인정산
학번:  30103
이름:  김왕기

### [문제4] 숫자 5개를 입력받아
- 합계
- 평균

In [90]:
su = list(map(int,input('숫자 5개 입력>>> ').split(",")))
print('합계: ',sum(su))
print('평균: ',sum(su)/len(su))

숫자 5개 입력>>> 1,2,3,4,5
합계:  15
평균:  3.0