## 군집데이터

### boolean

In [1]:
True == False

False

In [2]:
True != 0

True

In [3]:
False == 0

True

In [4]:
True or False

True

In [61]:
1 == '1'

False

In [125]:
True == 1

True

### 문자열

In [55]:
eng = 'Korea COVID 19'
eng

'Korea COVID 19'

In [54]:
eng.lower()

'korea covid 19'

In [63]:
eng.upper()

'KOREA COVID 19'

In [128]:
a='Hello'
a

'Hello'

In [65]:
a.lower()

'hello'

In [129]:
a.upper()

'HELLO'

### List [ ]

In [74]:
data = []
data

[]

In [75]:
data.append('java')
data.append('c')
data

['java', 'c']

In [76]:
data[0]

'java'

In [77]:
data[-1]

'c'

In [78]:
data[1:]

['c']

In [79]:
data[:2]

['java', 'c']

In [80]:
data.sort()
data

['c', 'java']

In [83]:
data.reverse()
data

['java', 'c']

In [85]:
d=[]
d.append('Hello')
d.append('World')
d.reverse()
d

['World', 'Hello']

### Tuple()

In [57]:
b=(1,2,3, '사','오')
b

(1, 2, 3, '사', '오')

In [58]:
c=1,2,3
c

(1, 2, 3)

In [21]:
type(b), type(c)

(tuple, tuple)

In [22]:
b[3]=4

TypeError: 'tuple' object does not support item assignment

In [23]:
b[3:], b[1:4]

(('사', '오'), (2, 3, '사'))

In [117]:
b[:2], b[0:3]

((1, 2), (1, 2, 3))

### Dictionay{}

In [59]:
dic = {'name1' :'경민', '학번1':20103, 'name2' : '경민2', '학번2':20104}
dic

{'name1': '경민', '학번1': 20103, 'name2': '경민2', '학번2': 20104}

In [60]:
dic.get('name1')

'경민'

In [26]:
dic.keys()

dict_keys(['name1', '학번1', 'name2', '학번2'])

In [27]:
dic.values()

dict_values(['경민', 20103, '경민2', 20104])

### set{}

In [130]:
lunch = {'햄버거', '치킨', '라면', '콜라', 10000}
dinner = {'피자', '족발', '라면', '콜라', 10000}

In [29]:
lunch & dinner

{10000, '라면', '콜라'}

In [30]:
lunch | dinner

{10000, '라면', '족발', '치킨', '콜라', '피자', '햄버거'}

### Pandas

In [131]:
import pandas as pd

In [87]:
li = [1,2,3]
li

[1, 2, 3]

In [88]:
type(li)

list

In [89]:
s1=pd.core.series.Series(li)
s1

0    1
1    2
2    3
dtype: int64

In [90]:
s2=pd.core.series.Series(['일','이','삼'])
s2

0    일
1    이
2    삼
dtype: object

In [93]:
data=dict(num=s1, word=s2)
data

{'num': 0    1
 1    2
 2    3
 dtype: int64, 'word': 0    일
 1    이
 2    삼
 dtype: object}

In [95]:
pd.DataFrame(data)

   num word
0    1    일
1    2    이
2    3    삼

In [103]:
data=pd.DataFrame([['a', 100],['b', 200], ['c', 300]])
data.info

<bound method DataFrame.info of    0    1
0  a  100
1  b  200
2  c  300>

In [106]:
data.head(2)

   0    1
0  a  100
1  b  200

In [108]:
data.tail(2)

   0    1
1  b  200
2  c  300

In [109]:
col=['1군','2군']

In [113]:
pd.DataFrame([['a', 100],['b', 200], ['c', 300]],columns=col)

  1군   2군
0  a  100
1  b  200
2  c  300

In [118]:
man = [{'Name':'은주', 'age':20, 'job':'j1'},
       {'Name':'민서', 'age':30, 'job':'j2'},
       {'Name':'경민', 'age':15, 'job':'j3'}]
pd.DataFrame(man,index=[1,2,3])

  Name  age job
1   은주   20  j1
2   민서   30  j2
3   경민   15  j3

In [124]:
a=[1,2,3]
b=[4,5,6]
df=[a,b]
dd=pd.DataFrame(df, index=[1,2],columns=['A','B','C'])
dd

   A  B  C
1  1  2  3
2  4  5  6